### Introduction to Pandas II

This lesson focuses on reviewing our basics with pandas and extending them to more advanced munging and cleaning.  Specifically, we will discuss how to load data files, work with missing values, use split-apply-combine, use string methods, and work with string and datetime objects.  By the end of this lesson you should feel confident doing basic exploratory data analysis using `pandas`. 

**OBJECTIVES**

- Read local files in as `DataFrame` objects
- Drop missing values
- Replace missing values
- Impute missing values
- Use `.groupby` 
- Use built in `.str` and `.dt` methods
- Convert columns to `pd.datetime` datatype

### Reading Local Files

To read in a local file, we need to pay close attention to our *working directory*.  This means the current location of your work enviornment with respect to your larger computer filesystem.  To find your working directory you can use the `os` library or if your system executes UNIX commands these can be used.

In [47]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#check working directory

'/Users/jacobkoehler/Desktop/fall_22/repo/notebooks/module_1/class_6'

In [3]:
#list all files in directory

['.ipynb_checkpoints', 'data', 'pandas_II.ipynb']

In [6]:
#what's in the data folder?

['diamonds.csv', 'ufo.csv', 'movie_ratings.tsv', 'cars.csv']

In [5]:
#what is the path to ufo.csv?

##### `read_csv`

Now, using the path to the `ufo.csv` file, you can create a DataFrame by passing this filepath to the `read_csv` function.

In [7]:
#read in ufo data

In [8]:
# look at first 2 rows

In [9]:
# high level information

In [10]:
# numerical summaries

In [11]:
# categorical summaries

In [12]:
# all summaries

##### Reading from url

You can also load datasets from urls where a `.csv` (or other) file live.  Github is one example of this.  Note that you want to be sure to use the *raw* version of the file.  For example, a github user `dsnair` has shared datasets from the book [Introduction to Statistical Learning]() at the link below:


https://github.com/dsnair/ISLR/tree/master/data/csv

read in the Auto dataset below.

In [13]:
# get url to raw data

In [14]:
# pass to read_csv

In [15]:
# look at the first few rows

In [16]:
# high level information

#### Problems

1. Read in the `diamonds.csv` file from the `data` folder, and create a DataFrame named `diamonds`.

2. How many diamonds are greater than .5 carat in the data?

3. What is the highest priced diamond in the data?

4. Read the data from the `caravan.csv` file in located [here](https://github.com/dsnair/ISLR/blob/master/data/csv/Caravan.csv).  Assign this to a variable `caravan`.

5. How many `Yes`'s are in the `Purchase` column of the `caravan` data?  No's?

### Missing Values

Missing values are a common problem in data, whether this is because they are truly missing or there is confusion between the data encoding and the methods you read the data in using.

In [21]:
# re-examine ufo info

In [38]:
# one-liner to count missing values

In [22]:
# drop missing values

In [23]:
# fill missing values

In [24]:
# replace missing values with most common value

In [25]:
# be careful with comparisons!!!

#### Problem

1. Read in the dataset `churn_missing.csv` in the data folder, assign to a variable `churn` below.

2. Are there any missing values?  What columns are they in and how many are there?

3. What do you think we should do about these?  Drop, replace, impute?

#### `groupby`

Often, you are faced with a dataset that you are interested in summaries within groups based on a condition.  The simplest condition is that of a unique value in a single column.  Using `.groupby` you can split your data into unique groups and summarize the results.  

**NOTE**: After splitting you need to summarize!

In [41]:
# sample data
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

In [43]:
# foo vs. bar

In [44]:
# one two or three?

In [45]:
# A and B

In [46]:
# working with multi-index

In [58]:
# age less than 40 survival rate

##### Problems

In [62]:
tips = sns.load_dataset('tips')

In [63]:
tips.head(2)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3

1. Average tip for smokers vs. non-smokers.

2. Average bill by day and time.

3. What is another question `groupby` can help us answer here?

4. What does the `as_index` argument do?  Demonstrate an example.

#### `datetime`

A special type of data for pandas are entities that can be considered as dates.  We can create a special datatype for these using `pd.to_datetime`, and access the functions of the `datetime` module as a result.

In [64]:
# read in the AAPL data

In [65]:
# convert to datetime

In [67]:
# extract the month

In [68]:
# extract the day

In [66]:
# set date to be index of data

In [69]:
# sort the index

In [70]:
# select 2019

In [71]:
# read back in using parse_dates = True and index_col = 0

In [72]:
from datetime import datetime

In [73]:
# what time is it?

In [74]:
# how much time has passed?

#### More with timestamps

- Date times: A specific date and time with timezone support. Similar to datetime.datetime from the standard library.

- Time deltas: An absolute time duration. Similar to datetime.timedelta from the standard library.

- Time spans: A span of time defined by a point in time and its associated frequency.

- Date offsets: A relative time duration that respects calendar arithmetic.

In [75]:
# most recent date?

In [76]:
# earliest?

In [77]:
# time range?

In [78]:
# create a pd.Timedelta

In [79]:
# shift a date by 3 months

##### Problems

1. Return to the ufo data and convert the Time column to a datetime object.

2. Set the Time column as the index column of the data.

3. Sort it

4. Create a new dataframe with ufo sightings since January 1, 1999

#### See you Thursday!