# Python Fundamentals 2 



#### Review and Outline

**Great Work!** We have made it this far...we know some basic calculations, data types and structures (lists, tuples, strings, dictionaries), we also know how to get help `?` and read `Error:` messages. Finally, we should be getting comfortable with the notebook and markdown.

Where are we going? In this notebook we will cover some key operations: Comparisons, `if else` conditional operations, `for` loops. In the end, we will learn the core concept of **object** in object oriented programming and how it is used in python to help us better understand the language.

[This notebook largely follows the discussion in the Book.](https://nyudatabootcamp.gitbook.io/thebook/py-fun2) Note, in the book there are many more excercises to try. Pleast try them at home. 

#### Python  Tools

Boolean variables, comparisons, conditionals (if, else), slicing, loops (for), tab completion, function definitions and objects.

**Buzzwords.** Code block, data structures, list comprehension, PEP8.

---
## Booleans

Basic idea, make a comparison and the result is a `True` or `False` value. We call these bools...

In [4]:
# less than
type(1 > 0)

bool

**KEY** Note the type, it's a bool or short for Boolean.

Here are some more operations...bools can be combined with integers and floats...

In [5]:
# two variables equal?
1 == 1.0

True

Some more operations... == is equal, >= greater than or equals, <= less than
or equals, != not equals. Keep these in mind. There are also other ways to take the oppisite value by using the `not` built-in

In [6]:
# not 1 greater than 0?
not 1 > 0

False

Then notice what happens when we print a statement...

In [7]:
# make a comparison in print statement
print('Is 1 greater than zero?', 1 > 0)

Is 1 greater than zero? True

#### Exercises

**Exercise.** What is 2 >= 1? 2 >= 2? not 2 >= 1? If you're not sure, 
try them in the IPython console and see what you get.

In [9]:
print(2 >= 1)
print(2 >= 2 )
print(not 2 >= 1)

True
True
False

**Exercise.** What is
```
print(2 + 2 == 4) 

print(1 + 3 != 4) 
```

Explain what is going on here....

In [10]:
print(2 + 2 == 4)

True

In [11]:
print(1 + 3 != 4)

False

**Exercise** What is 
```
print("sarah" == 'Sarah')
```

In [13]:
print("sarah" == 'Sarah'.lower())

True

**Exercise.** What do these comparisons do? Are they true or false? Why?

In [14]:
print(type('Sarah') == str) # IS it a string? YES!!! 
print(type('Sarah') == int) # IS it an integer??? NO!
print(len('Sarah') >= 3) # Is the length longer than three? YES!

True
False
True

 **Comparisons in String**

In [20]:
name1 = 'steve'
name2 = 'stever'
check =  name1 > name2
print("Is Chase > Carol ",check) #hmmmm....

Is Chase > Carol  False

https://stackoverflow.com/questions/4806911/string-comparison-technique-used-by-python

Here is the quick run down, this does this thing in lexicographic ordering... this means: First the first two items are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two items are compared,
and so on, until either sequence is exhausted. What determines the order...in this case note that "S" comes **later** in the alphabet than "C" thus is has a larger "value", thus "Chase > Spencer" is false.

When comparing uppercase vs. lower case, uppercase come before lower case...The stuff like ```*&``` come before. How do I know exactly what is going on... here is a link to the unicode point ordering

https://en.wikipedia.org/wiki/List_of_Unicode_characters

And scroll down to the Latin Script /Basic Latin table there. There there is a number for each possible character. To see the number just type `ord("z")` and note how this should give back the value 122 and then look in the table it should have the value 122. In the comparison above, what it is doing is taking the number in this table for the given character and then comparing it to the number for the other character.

In [16]:
"z" > "a"

True

In [17]:
ord("!")

33

---
## Conditional (If/Else)

Now that we know how to tell whether a comparison is true or false, we can build that into our code. "Conditional" statements allow us to do different things depending on the result of a comparison or Boolean variable, which we refer to as a condition. The logic looks like this:

* if a condition is true, then do something.

* if a conditions is false, do something else (or do nothing).

In [21]:
# if true print 
if 1 > 0:
    print('Yes it is True')

Yes it is True

In [23]:
if 1>0
print('Yeah')

IndentationError: expected an indented block (<ipython-input-23-825a16d3c0c7>, line 2)

Key issue, an **`if`** statement must always be followed by **"`:`"** and then the next line or lines associated with the statement must be indicated by 4 spaces. ONLY 4 spaces, Jupyter will do this automatically....there is also some kind of debate about spaces or tabs...here is some interesting info if you need to choose:

https://stackoverflow.blog/2017/06/15/developers-use-spaces-make-money-use-tabs/

In [27]:
# adjust to see true or false
a = 2
if a < 7:
    print('This is true')

This is true

In [29]:
# if/else
a = 5
if a < 7:
    print('Yeah its less than')
else:
    print('Nope, not less than')

Yeah its less than

**Exercise.** Take the names name1 and name2, both of them strings. Write a program using if and else that prints the name that comes first in alphabetical order.  Test your program with name1 = 'Lenny' and name2 = 'Jacob'.

In [31]:
name1 = 'lenny'
name2 = 'Jacob'
if name1 > name2:
    print(name2)
else:
    print(name1)

Jacob

**Exercise** Make it insensitive to capitalization...

In [32]:
if name1.lower() > name2.lower():
    print(name2)
else:
    print(name1)

Jacob

In [33]:
name1.upper()

'LENNY'

In [34]:
name1.capitalize()

'Lenny'

---
## Slicing

This is an important stuff to be comfortable with. When we start to work with `Pandas` (the data package), slicing will be a key skill to "slice" the data in the way that we want. For now we will work with strings and lists.

In [35]:
a = "some"
print([a[0], a[1], a[2]])

# Note how it is treating the string just like a tuple (remember python starts indexing from 0)
# so we are calling each individual character...

['s', 'o', 'm']

In [36]:
a[1] = "*"  # can we re-assgin? # no...string is like a tuple where the object is immutable.
print(a)

TypeError: 'str' object does not support item assignment

One of the interesting things about this is that there are both a **forward** counter and a **backward** counter. Here is an example:

In [38]:
print(a[-3]) # this should give an o, so 0 is s, -1 is e, -2, is m...
print(a[-400]) # But it will not do this infinitly, it will do this untill it returns
# back to s or -4,

o

IndexError: string index out of range

**Exercise** Take the string firstname = 'Monty' and write below it the forward and backward 
counting conventions. What integer would you put in square brackets to extract 
the third letter (n) under each system?

In [40]:
firstname = 'Monty'
print(firstname[2])
print(firstname[-3])

n
n

**Exercise.** Find the last letter of the string lastname = 'Python'. Find the second 
to last letter using both the forward and backward counting conventions.

In [43]:
lastname = 'Python'
print(lastname[4])
print(lastname[-2])

o
o

**Exercise.** Take the list numberlist = [1, 5, -3]. Use slicing to set a variable 
first equal to the first item. Set another variable last equal to the last item. Set a third variable named middle equal to the middle item.

In [45]:
numberlist = [1, 5, -3]
first = numberlist[0]
last = numberlist[-1]
middle = numberlist[1]
print([first, last, middle])

[1, -3, 5]

Now how do we pull groups of objects out of a data structure. We use the **`:`** operator. What this does is when we have say `[0:2]` this will pull out the first element AND everything after it NOT including the object in the second position. That is the value after the colon is not included. LEts see this...

In [47]:
c = 'something'

print('c[1] is', c[1]) # We know this...
print('c[1:2] is', c[1:2]) # This says take between 1 and 2 NOT including 2 (so same as above)
print('c[1:3] is', c[1:3]) # This says take between 1 and 3 NOT including 3
print('c[1:] is', c[1:]) # This says give from postion 1 onward so omething...if -1?
print('c[:-1] is', c[:-1])
print('c[1:-1] is', c[1:-1]) # This works, again, from postion 1 and -1 NOT including -1, so oemthin

c[1] is o
c[1:2] is o
c[1:3] is om
c[1:] is omething
c[:-1] is somethin
c[1:-1] is omethin

In [48]:
c[::2]

'smtig'

In [49]:
c[::-1]

'gnihtemos'

**Exercise.** Set lastname = 'Python'. Extract the string 'thon'.

In [51]:
lastname = 'Python'
lastname[2:]

'thon'

**Exercise.** Set numlist = [1, 7, 4, 3]. Extract the middle two items and assign 
them to the variable middle.

In [53]:
numlist = [1, 7, 4, 3]
numlist[1:-1]

[7, 4]

In [54]:
numlist[1:3]

[7, 4]

**Exercise.**

- Extract all but the first item and assign them to the variable allbutfirst. 

- Extract all but the last item and assign them to the variable allbutlast.

In [56]:
allbutfirst = numlist[1:]
allbutlast = numlist[:-1]

---
## `for` Loop

As with the conditional operation, this is a key skill. In particular, it allows for us to scale up the number of operations without having to constantly write code to perform each one. 

The book has some examples, but let me suggest one that I see all the time...suppose you have bunch of datasets. How to you read them in. Use a for loop. So you create a list of the names of the data sets, then you work through the list and read each one it. What the for loop allowed you to do is for a small change in your code you have scaled your operation by however much.

In [58]:
namelist = ['Chase', 'Dave', 'Sarah', 'Spencer']    # creates the list "namelist"
# below, the word "item" is arbitrary. End the line with a colon.

#loop and print
for item in namelist:
    print(item)

Chase
Dave
Sarah
Spencer

One thing to notice is the `item` which is a place holder. The specific name `item` has no attachment to anything, all it says is that as it works through each object in the list, its temporary name will be `item`. Here, try to change `item` to `bloob` and see what happens.

Here is a numerical calculation...this is common in scientific computing...

In [59]:
numlist = [4, -2, 5]
total = 0

#compute total
for num in numlist:
    total = total + num
print(total)

7

Now here is a string.

In [60]:
word   = 'anything'
# loop over the string
for letter in word:
    print(letter)

a
n
y
t
h
i
n
g

Note how general this is. The key issue is that as long as the for loop is over an "itteratable" object, then this this will work. Ask your self, what itterable objects do we know.

Now this example below combines the for loop and a conditional

In [61]:
vowels = 'aeiouy'
word   = 'anything'

for letter in word:
    if letter in vowels:
        
        print(letter)

a
y
i

**Exercise.** Take the list `stuff = ['cat', 3.7, 5, 'dog']`.

- Write a program that prints the elements of stuff.
- Write a program that tells us the type of each element of stuff.
- Challenging. Write a program that goes through the elements of stuff and prints only the elements that are strings; that is, the print the elements where function type returns the value str.

**Exercise.** Consider the list `namelist = ['Chase', 'Dave', 'Sarah', 'Spencer']`. 

Write a loop that goes through the list until it reaches a name than begins with the letter S. At that point it prints the names and exits the loop.

### Loops over Ranges

I think this is less important in data work. We need to know it though, so let's work through it. The first thing to learn is the type `range`

In [62]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [63]:
my_first_range = range(0,10,2)

In [64]:
type(my_first_range)

range

In [65]:
my_first_range

range(0, 10, 2)

In [66]:
print(list(my_first_range)) # why do need to add a list() function in print function?

[0, 2, 4, 6, 8]

In [67]:
for number in range(1,5,2): # the variable "number" can be anything
    
    print(number)

1
3

In [ ]:
for number in range(1, 11):
    square = number**2
    
    print('Number and its square:', number, square)

---
## List Comprehension

The basic idea is to create implicit loops on itterable objects like lists (note it need not be a list, just something we can itterate on). We refer to this as list comprehensions. It is useful in certain circumstances and shows up a lot in Python code. 

To understand list list comprehension, lets first remind our selves what a loop is doing

In [ ]:
namelist = ['Chase', 'Dave', 'Sarah', 'Spencer']

for item in namelist:
    
    print(item)

A list comprehension gives us more compact syntax for the same thing:

In [ ]:
[print(item) for item in namelist]

Notices what this is doing:
- First there are the square brackets, this means we are creating a NEW LIST

- The first part within the brackes is the operation we want to perform on the old list. Here we want to print it.

- Then after the operation on the "item" we describe the for operation, the variable, and then the itterable oject we want to grab from. 

- Essentialy what all this says is "do ``operation`` on ``item`` in the list"

Again, as with loops, the variable `item` is a dummy:  we can use any name we wish.  Replace `item` with your pet's name to see for yourself.

Lets see some examples:

In [ ]:
fruit = ['apple', 'banana', 'clementine'] # A list...

FRUIT = [item.upper() for item in fruit] 

print(FRUIT)

We can also apply conditions within list comprehensions

In [ ]:
fruit6 = [item for item in fruit if len(item)<=6]

In [ ]:
fruit6

**Exercise.** Take the list of growth rates g = [0.02, 0.07, 0.07]. Write a list comprehension that multiplies each element by 100 to turn it into a percentage.


**Exercise.** Take the mixed type list `[True, "2", 3.0, 4]` and create a new list of the associated types.

Final point about this: List comprehensions and related stuff are okay to use for simple cases. However, for more complicated situations, comprehensions be very hard to read and understand. Hence, a traditional ``for`` loop would be more appropriate.

---
## Functions

The key idea here is that rather than repeating the same lines of code over and over again. We can create a function that performs some distinct operation. This is a good strategy for a lot of reasons
* Efficient in terms of writing code 
* It facilitates easy to read code 
* Avoids any debuging issue that may arise when you have to modify multiple lines of code in the same exact way (just change the code in the function). 
* Finally, it will give us insight to what is behind various packages that we will be using in the future...what are they just a collection of functions!

In [68]:
def hello(firstname):               # define the function
    print('Hello,', firstname)

A couple of things:
 
 - Similar syntax to for loops, if statements. Here we start with def (short for definition), then we create the name of the function and then any inputs...
 
 - Four spaces for all operations preformed by the function. If it does not have four spaces, it is not recognized as part of the function.
 
One more thing. We have only have to run this code cell once. Once we do so the function is in the namespace and is good to go.

In [69]:
hello('Chase')

Hello, Chase

In [70]:
hello([1,2,3])

Hello, [1, 2, 3]

In [71]:
whos

Variable         Type        Data/Info
--------------------------------------
a                str         some
allbutfirst      list        n=3
allbutlast       list        n=3
c                str         something
check            bool        False
first            int         1
firstname        str         Monty
hello            function    <function hello at 0x7f85d1b1c700>
item             str         Spencer
last             int         -3
lastname         str         Python
letter           str         g
middle           int         5
my_first_range   range       range(0, 10, 2)
name             str         Spencer
name1            str         lenny
name2            str         Jacob
namelist         list        n=4
num              int         5
number           int         3
numberlist       list        n=3
numlist          list        n=3
total            int         7
vowels           str         aeiouy
word             str         anything

This shows us that the function is there and available.

Returning to the function above, how would I modify it to return a different message if firstname is not a string?

Now sometimes we want the function to return a value...this is how we do it.

In [72]:
def squareme(number):
    """
    Takes numerical input and returns its square
    """
    return number**2, number        # this is what the function sends back

In [75]:
squareme(2)

(4, 2)

In [73]:
x, y = squareme(2)

In [76]:
hi = hello('Lenny')
print(hi)

Hello, Lenny
None

In [74]:
y

2

In [77]:
def value_one():               # define the function
    return 1.0

In [78]:
value_one()

1.0

In [79]:
max?

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.
Type:      builtin_function_or_method

In [80]:
def combine(first, last):
    """
    Takes strings 'first' and 'last' and returns new string 'last, first'
    """
    lastfirst = last + ', ' + first
    return lastfirst                    # this is what the function sends back

both = combine('Chase', 'Coleman')      # assign the "return" to both
print(both)

Coleman, Chase

- **Exercise.** Create and test a function nextyear that takes an integer year (say 2015) and returns the following year (2016).

In [81]:
def nextyear(year):
    
    return year + 1

In [82]:
nextyear(2015)

2016

In [ ]:
print = []

- **Exercise.** Create and test a function that takes a string year (say, '2015') and returns a string of the next year (say, '2016').

- **Exercise.** Write a function that extracts the last letter from a string

- **Exercise.** Use the function above and write a program so that last letter of each item in the list names = ['Chase', Dave', 'Sarah', 'Spencer'] is printed

- Bonus (optional): Print the last letter only if it's a vowel.

---
## Objects

This is a key feature of python...it's an [object oriented programming language](https://en.wikipedia.org/wiki/Object-oriented_programming). What does that mean? For us this means that every thing is really an object with associated **methods** and **attributes**. A method is like a function that already togo with the given object. Methods in python are always completed with `()` . Attributes are go-to-go attributes about the object that can be accessed easily. What this means is that there are simple built-in ways to get information and perform operations on objects without having to write our on functions.  

Functions, methods, and attributes differ primarily in their syntax:

* Syntax of a **function**: `function(object)`
* Syntax of a **method**: `object.method()`
* Syntax of a **attribute**: `object.attribute`

We used the former in the previous section and will consider the latter here.


OK...but if I have say a list, how do I know the methods and attributes associated with it...here comes `TAB` completion which we covered in last `Notebook`.

In [ ]:
whos

In [ ]:
numberlist.append?

In [ ]:
numberlist.append(7)

print(numberlist)

In [ ]:
first_name = "Chase"

In [ ]:
first_name.lower()

**Exercise.** This one also come up in our work. Suppose we have a variable z = '12,345.6'. What is its type? Convert it to a floating point number without the comma. Hint: Use tab completion to find a method to get rid of the comma.

**Exercise.** Take the list `fruit` and create a new list with the first letter capitalized. What method would you use to capitalize a string?

**Exercise.**  Run the code

```python
firstname = 'John'
lastname  = 'Lennon'
firstlast = firstname + ' ' + lastname
```

Find a method to replace the n's in `firstlast` with asterisks.

**Exercise.** Consider the following string `x = "How many characters and words are in this string?"`

* How many characters does x contain?

* Convert x to a list of individual characters.

* Convert x to a list of individual words.

* How many words does x contain?

Now here is a question what is the difference between what I did above and what I'm doing below:

In [ ]:
x = "How many characters and words are in this string?"

In [ ]:
x.rsplit()

**Exercise (challenging)**. Use tab completion and the Object inspector to find and apply a method to the string name that counts the number of appearances of the letter s. Use name = 'Ulysses' as a test case.

Are their other ways of doing this????

**Exercise.** Consider the dictionary `names = {'Dave': 'Backus', 'Chase': 'Coleman', 'Spencer': 'Lyon', 'Glenn': 'Okun'}` 

* Use tab completion to get all the keys. 
* What type is the output above. Can you convert this to a list.
* With your list, write a for loop over it, pass the keys to the dictionary, and print out the values.

---
## Summary

**Congratulations!** First, it's amazing that you have made it this far. Reflect on what you knew before working through this notebook, namely what we did in notebook 1. Now reflect on what you can do...AMAZING!!! Let us summarize some key things that we covered.

* **Boolean variable and its operations**: We conduct the comparsion operation on the right: x = 3 > 2, and we can assign the boolean values (True or False) to the variable x. We also learned how to compare two strings.


* **"if" conditional statement**: it allows us to do different things depending on the result of a comparison or Boolean variable.


* **Slicing**: we learn **Forward** and **Backward** counting conventions in a list, do you know when to select which? We also cover using **`:`** operator to select groups of data.


* **"for" Loop**:
    * We can use `for` to loop through any iterable objects.
    * We talk a common built-in iterable object/data sturcture: `range` to help us with the data slicing/indexing.


* **Functions**: we learn how to define and use customized functions. 


* **Objects**: a core concept in a object oriented programming language like python. It can help us understand how we can use **`.`** operations to call methods and attributes in an object.